<!-- start wrapper -->
<top-menu>Loading...</top-menu>
  <div class="container">
    <!-- start left panel -->
    <app-side-menu></app-side-menu>
    <!-- end left panel -->

    <!-- start right panel -->
    <div class="right_panel">
      <div class="breadcrumbs_area">
        <ul class="breadcrumb">
          <li>Mass Maintenance</li>
          <li>Perform Mass Maintenance</li>
          <li>Import Tasks</li>
        </ul>
      </div>
      <!-- start content -->
      <div class="content">
        <h1>Completed</h1>
        <div><h5 style="color: red; align-self: left">{{errorMessage}}</h5></div>
        <div class="content_area">
          <div class="datatable" *ngIf="!onClickContinueBtn">
            <table>
              <thead>
                <tr>
                  <th width="2%">&nbsp;</th>
                  <th [class.active]="order === 'name'"
                  (click)="setOrder('name')" class="mdl-data-table__cell--non-numeric">Task Name<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'type'"
                  (click)="setOrder('type')" class="mdl-data-table__cell--non-numeric">Task Type<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'createdBy'"
                    (click)="setOrder('createdBy')">Created By<span [hidden]="reverse">▼</span
                      ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'createdOn'"
                  (click)="setOrder('createdOn')">Created On<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'modifiedBy'"
                  (click)="setOrder('modifiedBy')" class="mdl-data-table__cell--non-numeric">Last Updated By<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'modifiedOn'"
                  (click)="setOrder('modifiedOn')">Last Updated On<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                  <th width="2%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let import of completedImports | orderBy:
                order:reverse:'case-insensitive' | paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'first' }">
                  <td><label class="radio radio_padding_td">
                      <input type="radio" checked="checked" name="radio" [checked]="idx === 0"  
                      (change)="onSelectionChange(import)">
                      <span class="check_mark"></span> </label></td>
                <td>{{import.name}}</td>
                  <td>{{import.type}}</td>
                  <td>{{import.createdBy}}</td>
                  <td>{{import.createdOn}}</td>
                  <td>{{import.modifiedBy}}</td>
                  <td>{{import.modifiedOn}}</td>
                  <td><nav><a role="button" routerLinkActive="active" (click)="deleteCompltedImport(import.uuid)" style="cursor: pointer;">
                    <img src="../../assets/images_icons/delete_icon.png" width="16" height="16" alt="Delete"></a></nav></td>
                </tr>
              </tbody>
            </table>
            <p class="no_data_desc" *ngIf="!completedImports.length > 0">No Data Available</p>
            <div class="pagination">
                <div class="floatLeft">
                    <div class="custom-select floatLW120">
                      <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
                        <option value="5" selected>show 5 items</option>
                        <option value="10">show 10 items</option>
                        <option value="20">show 20 items</option>
                      </select>
                    </div>
                  </div>
                  <div class="pagination_text">{{table1_currentPageItemsFrom}} to {{table1_currentPageItemsTo}} of {{table1_totalItems}} </div>
                <div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="first"></pagination-controls></div>
              </div>
            <!-- <app-pagination [exportTableList]="completedImports">Loading...</app-pagination> -->
          </div>
          <div class="floatRight" *ngIf="!onClickContinueBtn">
            <div class="button_lightgrey floatLeft">
              <button type="button" [disabled]="continueBtnDissable" routerLinkActive="active" (click)="getCompletedImportDetails(selectedImport.uuid)">Continue</button>
            </div>
          </div>
          <div class="floatRight" *ngIf="onClickContinueBtn">
            <div class="button_lightgrey floatLeft">
              <button type="button" routerLinkActive="active" (click)="onClickBack()">Back</button>
            </div>
          </div>
          <div *ngIf="onClickContinueBtn">
            <div class="content">

              <p style="color:green">All Records has been updated successfully.</p>
              <div class="column_text form_column_one">
                <label for="name" class="required">Task Name</label>
                <input type="text" size="90" placeholder="Task Name" id="name" name="taskName" #name="ngModel" [(ngModel)]="taskName"/>
              </div>
              
              <h1>Success Items</h1>
              <div class="content_area" id="review">
                <div class="datatable">
                  <table>
                    <thead>
                      <tr>
                        <th [class.active]="tableOrderOne === 'applicationID'" (click)="setOrderOne('applicationID')">Application<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'psetNumber'" (click)="setOrderOne('psetNumber')">PSet Number<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'psetName'" (click)="setOrderOne('psetName')">PSet Name<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'companyID'" (click)="setOrderOne('companyID')">Company<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'psetKey'" (click)="setOrderOne('psetKey')">PSet Key<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'effectiveDate'" (click)="setOrderOne('effectiveDate')">Effective Date<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'expiryDate'" (click)="setOrderOne('expiryDate')">Expiry Date<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'action'" (click)="setOrderOne('action')">Action<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                        <th [class.active]="tableOrderOne === 'result'" (click)="setOrderOne('result')">Result<span [hidden]="tableReverseOne">▼</span><span
                            [hidden]="!tableReverseOne">▲</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let param of successItems | orderBy:
                      tableOrderOne:tableReverseOne:'case-insensitive' | paginate: { itemsPerPage: table2_itemsPerPage, currentPage: table2_cutrrentPage, id: 'second' } ">
                          <td>{{param.applicationID}}</td>
                          <td>{{param.psetNumber}}</td>
                          <td>{{param.psetName}}</td>
                          <td>{{param.companyID}}</td>
                          <td>{{param.psetKey}}</td>
                          <td>{{param.effectiveDate}}</td>
                          <td>{{param.expiryDate}}</td>
                        <td class="colorBlue"><a her="#">{{param.action}}</a></td>
                        <td>{{param.result}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="no_data_desc" *ngIf="!successItems.length > 0">No Data Available</p>
                  <div class="pagination">
                      <div class="floatLeft">
                          <div class="custom-select floatLW120">
                            <select [(ngModel)]="table2_pageSize" name="pageSize" (change)="itemsPerPage()">
                              <option value="5" selected>show 5 items</option>
                              <option value="10">show 10 items</option>
                              <option value="20">show 20 items</option>
                            </select>
                          </div>
                        </div>
                        <div class="pagination_text">{{table2_currentPageItemsFrom}} to {{table2_currentPageItemsTo}} of {{table2_totalItems}} </div>
                      <div class="floatRight marginTop10"><pagination-controls (pageChange)="table2_cutrrentPage = $event" id="second"></pagination-controls></div>
                    </div>
                  <!-- <app-pagination [exportTableList]="successItems">Loading...</app-pagination> -->
                </div>
                
              </div>
              <!-- end content page-1 Success-->
            </div>
          </div>

        </div>
      </div>

      <!-- end content -->
    </div>
    <!-- end right panel -->
  </div>
  <!-- end container -->
  <!-- Footer start -->
  <div class="push_footer">&nbsp;</div>
  <div id="footer">
    <div class="footer_area">
      <ul>
        <li><a href="#news">Contact us</a></li>
        <li><a href="#contact">Search Center</a></li>
        <li><a href="#about">Site Map</a></li>
      </ul>
      <p> Powered by Intelligent SOA <sup>TM</sup></p>
      <p> &copy; CeleritiFinTech. All rights reserved</p>
    </div>
  </div>
  <!-- end footer -->


<!-- end wrapper -->