.line { 
border-color: #337ab7;
border-width: 3px;
width: 100%;
margin-left: 0px;
}

.required label:before {
    color: red;
    content: ' *';
    display:inline;
}
#bloc1, #bloc2, #bloc3
{
    display:inline;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}