<!-- start wrapper -->
<top-menu>Loading...</top-menu>
	<div class="container">
		<app-side-menu></app-side-menu>
		<!-- end left panel -->

		<!-- start right panel -->
		<div class="right_panel">
			<div class="breadcrumbs_area">
				<ul class="breadcrumb">
					<li>Mass Maintenance</li>
					<li>Perform Mass Maintenance</li>
					<li>Import Tasks</li>
				</ul>
			</div>
			<!-- start content Page-1 upload-->
			<div>
				<h1>Real Time-Import</h1>
				<div><h5 style="color: red; align-self: left">{{errorMessage}}</h5></div>
			</div>

			<!-- start content page-2 Reload -->
			<div class="content" >
				<!-- <div class="content_area" id="realtime"> -->
					<form 
						(ngSubmit)="formData.valid && reloadSubmit()"
						#formData="ngForm" novalidate="novalidate">
					<div>
					<div class="column_text form_column_one">
						<!-- <h5 style="color: red; align-self: left">Some records has been failed. Please review and submit the failed items.</h5> -->
						<label for="name" class="required">Task Name</label>
						<input type="text" size="90" name="" placeholder="Task Name" id="name" name="taskName" #name="ngModel" [(ngModel)]="taskName" readonly="readonly"/>
					</div>
					<div class="content_box">
						<div class="floatLeft"><label for="avatar">Please select a file to upload</label><span class="button_green marginRL5">
								<input class="font_bold" type="file" id="avatar" (change)="selectFile($event)" name="filePath" #inputFileName="ngModel"
								accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
								ngModel>
							</span></div>
						<div class="button_lightgrey floatRight">
							<button class="width100" type="button" [disabled]="!selectedFiles" class="btn btn-md btn-default" (click)="importFile($event)">Reload</button>
						</div>
					</div>
				</div>
					<!--  <div class="datatable_header">Slected Record (Deposits - 1643 - Plan Subproducts Default) -->

					<div class="datatable" *ngIf="!importButtonclk">

						<table>
							<thead>
								<tr>
								<th [class.active]="tableOrderOne === 'pSetNumber'" (click)="setOrderOne('pSetNumber')">Parameter Set Number<span [hidden]="tableReverseOne">▼</span><span
									[hidden]="!tableReverseOne">▲</span></th>
								<th [class.active]="tableOrderOne === 'pSetName'" (click)="setOrderOne('pSetName')">Parameter Set Name<span [hidden]="tableReverseOne">▼</span><span
									[hidden]="!tableReverseOne">▲</span></th>
								<th [class.active]="tableOrderOne === 'importCount'" (click)="setOrderOne('importCount')">Import count<span [hidden]="tableReverseOne">▼</span><span
									[hidden]="!tableReverseOne">▲</span></th>
							  </tr>
							</thead>
							<tbody>
								<tr *ngFor="let parameter of classReference.importPcdCount | orderBy:
								tableOrderOne:tableReverseOne:'case-insensitive'
								| 
										paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'first' }">
										<td>{{parameter.pSetNumber}}</td>
										<td>{{parameter.pSetName}}</td>
										<td>{{parameter.importCount}}</td>
									</tr>
							</tbody>
						</table>
						<p class="no_data_desc" *ngIf="!classReference.importPcdCount.length > 0">No Data Available</p>
						<div class="pagination">
								<div class="floatLeft">
									<div class="custom-select floatLW120">
									  <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
										<option value="5" selected>show 5 items</option>
										<option value="10">show 10 items</option>
										<option value="20">show 20 items</option>
									  </select>
									</div>
								  </div>
								  <div class="pagination_text">{{table1_currentPageItemsFrom}} to {{table1_currentPageItemsTo}} of {{table1_totalItems}} </div>
								<div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="first"></pagination-controls></div>
							  </div>
						<!-- <app-pagination [exportTableList]="classReference.importPcdCount">Loading...</app-pagination> -->
					</div>
						<br>
						<div class="floatRight">
							<div class="button_green marginRL5 floatLeft" *ngIf="!importButtonclk && classReference.importPcdCount.length > 0">
								<button type="submit">Submit</button>
							</div>
							<!--                 <div class="button_green floatRight marginleft10">
						<button type="submit" class="width130">Cancel</button>
					  </div> -->
						</div>
						<br> <br>
						<h1>Failed Items</h1>
						<div class="datatable" >
						<table class="marginTop10">
							<thead>
								<tr>
									<th [class.active]="tableOrderTwo === 'applicationID'" (click)="setOrderTwo('applicationID')">Application<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'psetNumber'" (click)="setOrderTwo('psetNumber')">PSet Number<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'psetName'" (click)="setOrderTwo('psetName')">PSet Name<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'companyID'" (click)="setOrderTwo('companyID')">Company<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'psetKey'" (click)="setOrderTwo('psetKey')">PSet Key<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'effectiveDate'" (click)="setOrderTwo('effectiveDate')">Effective Date<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'expiryDate'" (click)="setOrderTwo('expiryDate')">Expiry Date<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
										 <th [class.active]="tableOrderTwo === 'action'" (click)="setOrderTwo('action')">Action<span [hidden]="tableReverseTwo">▼</span><span
											[hidden]="!tableReverseTwo">▲</span></th>
									<th [class.active]="tableOrderTwo === 'result'" (click)="setOrderTwo('result')">Result<span [hidden]="tableReverseTwo">▼</span><span
										 [hidden]="!tableReverseTwo">▲</span></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let param of failedItems | orderBy:
								tableOrderTwo:tableReverseTwo:'case-insensitive'
								| paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'second' }">
										<td>{{param.applicationID}}</td>
										<td>{{param.psetNumber}}</td>
										<td>{{param.psetName}}</td>
										<td>{{param.companyID}}</td>
										<td>{{param.psetKey}}</td>
										<td>{{param.effectiveDate}}</td>
										<td>{{param.expiryDate}}</td>
										<td class="colorBlue"><a her="#">{{param.action}}</a></td>
										<td>{{param.result}}</td>
								</tr>
								
							</tbody>
						</table>
						<p class="no_data_desc" *ngIf="!failedItems.length > 0">No Data Available</p>
						<div class="pagination">
								<div class="floatLeft">
									<div class="custom-select floatLW120">
									  <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
										<option value="5" selected>show 5 items</option>
										<option value="10">show 10 items</option>
										<option value="20">show 20 items</option>
									  </select>
									</div>
								  </div>
								  <div class="pagination_text">{{table2_currentPageItemsFrom}} to {{table2_currentPageItemsTo}} of {{table2_totalItems}} </div>
								<div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="second"></pagination-controls></div>
							  </div>
						<!-- <app-pagination [exportTableList]="failedItems">Loading...</app-pagination> -->
					</div>
						<br> <br> <br>
						<h1>Success Items</h1>
						<div class="datatable" >
						<table class="marginTop10">
							<thead>
									<tr>
										<th [class.active]="tableOrderThree === 'applicationID'" (click)="setOrderThree('applicationID')">Application<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'psetNumber'" (click)="setOrderThree('psetNumber')">PSet Number<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'psetName'" (click)="setOrderThree('psetName')">PSet Name<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'companyID'" (click)="setOrderThree('companyID')">Company<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'psetKey'" (click)="setOrderThree('psetKey')">PSet Key<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'effectiveDate'" (click)="setOrderThree('effectiveDate')">Effective Date<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'expiryDate'" (click)="setOrderThree('expiryDate')">Expiry Date<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'action'" (click)="setOrderThree('action')">Action<span [hidden]="tableReverseThree">▼</span><span
												[hidden]="!tableReverseThree">▲</span></th>
										<th [class.active]="tableOrderThree === 'result'" (click)="setOrderThree('result')">Result<span [hidden]="tableReverseThree">▼</span><span
											 [hidden]="!tableReverseThree">▲</span></th>
									</tr>
							</thead>
							<tbody>
								<tr *ngFor="let param of successItems | orderBy:
								tableOrderThree:tableReverseThree:'case-insensitive'
								| 
										paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'third' }">
									<td>{{param.applicationID}}</td>
									<td>{{param.psetNumber}}</td>
									<td>{{param.psetName}}</td>
									<td>{{param.companyID}}</td>
									<td>{{param.psetKey}}</td>
									<td>{{param.effectiveDate}}</td>
									<td>{{param.expiryDate}}</td>
									<td class="colorBlue"><a her="#">{{param.action}}</a></td>
									<td>{{param.result}}</td>
							</tr>
							</tbody>
						</table>
						<p class="no_data_desc" *ngIf="!successItems.length > 0">No Data Available</p>
						<div class="pagination">
								<div class="floatLeft">
									<div class="custom-select floatLW120">
									  <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
										<option value="5" selected>show 5 items</option>
										<option value="10">show 10 items</option>
										<option value="20">show 20 items</option>
									  </select>
									</div>
								  </div>
								  <div class="pagination_text">{{table3_currentPageItemsFrom}} to {{table3_currentPageItemsTo}} of {{table3_totalItems}} </div>
								<div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="third"></pagination-controls></div>
							  </div>
					<!-- <app-pagination [exportTableList]="successItems">Loading...</app-pagination> -->
				</div>
				<!-- </div> -->
			</form>
				<!-- end content page-2 Reload-->
			</div>

			<!-- start content Page-3 Success -->
			<div class="content" *ngIf="submitError && reloadSubmitError && failedItems.length == 0 ">

				<p style="color:green">All Records has been updated successfully.</p>
				<div class="column_text form_column_one">
					<label for="name" class="required">Task Name</label>
					<input type="text" size="90" placeholder="Task Name" id="name" name="taskName" #name="ngModel" [(ngModel)]="model.name"/>
				</div>
				<!--         <div class="content_box">
									  <div class="floatLeft"><span>Please select a file to upload</span><span class="button_green marginRL5">
										<button type="submit">Choose File</button>
										</span><span class="font_bold">download.xls</span></div>
									  <div class="button_lightgrey floatRight">
										<button type="submit" class="width100">Import</button>
									  </div>
									</div> -->
				<h1>Success Items</h1>
				<div class="content_area" id="review">
					<div class="datatable">
						<table>
							<thead>
								<tr>
									<th [class.active]="order === 'applicationID'" (click)="setOrder('applicationID')">Application<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'psetNumber'" (click)="setOrder('psetNumber')">PSet Number<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'psetName'" (click)="setOrder('psetName')">PSet Name<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'companyID'" (click)="setOrder('companyID')">Company<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'psetKey'" (click)="setOrder('psetKey')">PSet Key<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'effectiveDate'" (click)="setOrder('effectiveDate')">Effective Date<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'expiryDate'" (click)="setOrder('expiryDate')">Expiry Date<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'action'" (click)="setOrder('action')">Action<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
									<th [class.active]="order === 'result'" (click)="setOrder('result')">Result<span [hidden]="reverse">▼</span><span
											[hidden]="!reverse">▲</span></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let param of successItems | orderBy:
								order:reverse:'case-insensitive' 
								| paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'third' }">
									<td>{{param.applicationID}}</td>
									<td>{{param.psetNumber}}</td>
									<td>{{param.psetName}}</td>
									<td>{{param.companyID}}</td>
									<td>{{param.psetKey}}</td>
									<td>{{param.effectiveDate}}</td>
									<td>{{param.expiryDate}}</td>
									<td class="colorBlue"><a her="#">{{param.action}}</a></td>
									<td>{{param.result}}</td>
							</tr>
							</tbody>
						</table>
						<!-- <div class="pagination">
							<div class="floatLeft">
								<div class="custom-select floatLW120">
									<select>
										<option value="0">Show 5 items</option>
										<option value="1">5</option>
										<option value="2">10</option>
										<option value="3">15</option>
										<option value="4">20</option>
										<option value="5">25</option>
										<option value="6">30</option>
									</select>
								</div>
								<div class="pagination_text">1 to 1 of 1 </div>
							</div>
							<div class="pagination_item"> <a href="#" class="pagination_pre">&laquo;</a> <a href="#" class="active">1</a> <a href="#" class="pagination_next">&raquo;</a>
							</div>
						</div> -->
						<p class="no_data_desc" *ngIf="!successItems.length > 0">No Data Available</p>
						<!-- <app-pagination [exportTableList]="successItems">Loading...</app-pagination> -->
						<div class="pagination">
								<div class="floatLeft">
									<div class="custom-select floatLW120">
									  <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
										<option value="5" selected>show 5 items</option>
										<option value="10">show 10 items</option>
										<option value="20">show 20 items</option>
									  </select>
									</div>
								  </div>
								  <div class="pagination_text">{{table3_currentPageItemsFrom}} to {{table3_currentPageItemsTo}} of {{table3_totalItems}} </div>
								<div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="third"></pagination-controls></div>
							  </div>
					</div>
					<!--               <div class="floatRight">
											<div class="button_lightgrey floatLeft">
										<button type="submit">Submit</button>
									  </div>
									 <div class="button_green floatRight marginleft10">
										<button type="submit" class="width130">Cancel</button>
									  </div>
										  </div> -->
				</div>
				<!-- end content page-1 Success-->
			</div>
		</div>
		<!-- end right panel -->
	</div>
	<!-- end container -->
	<!-- Footer start -->
	<div class="push_footer">&nbsp;</div>
	<div id="footer">
		<div class="footer_area">
			<ul>
				<li><a href="#news">Contact us</a></li>
				<li><a href="#contact">Search Center</a></li>
				<li><a href="#about">Site Map</a></li>
			</ul>
			<p> Powered by Intelligent SOA <sup>TM</sup></p>
			<p> &copy; CeleritiFinTech. All rights reserved</p>
		</div>
	</div>
	<!-- end footer -->


<!-- end wrapper -->