<top-menu>Loading...</top-menu>

  <!-- end header -->
  <div class="container">
      <app-side-menu></app-side-menu>
    <!-- end left panel -->
    <div class="right_panel">
      <div class="breadcrumbs_area">
        <ul class="breadcrumb">
          <li>Mass Maintenance</li>
          <li>Perform Mass Maintenance</li>
          <li>Export Tasks</li>
        </ul>
      </div>
      <!-- start content -->
      <div class="content">
        <div  class="content_area" id="new">
          <div class="button_lightgreen floatRight">
            <nav>
            <button [routerLink]="['create']" class="btn" role="button" type="submit"><img src="../../assets/images_icons/icon_plus.png" alt="New">New</button>
            </nav>
          </div>
		  <br>
       <h1>Your Scheduled Exports</h1>
       <div><h5 style="color: red; align-self: left">{{errorMessage}}</h5></div>
          <div class="datatable">
            <table>
              <thead>
                <tr>
                  <th [class.active]="order === 'name'" (click)="setOrder('name')">Task Name<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th [class.active]="order === 'status'" (click)="setOrder('status')">Status<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th [class.active]="order === 'createdBy'" (click)="setOrder('createdBy')">Created By<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th [class.active]="order === 'createdOn'" (click)="setOrder('createdOn')">Created On<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th [class.active]="order === 'modifiedBy'" (click)="setOrder('modifiedBy')">Last Updated By<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th [class.active]="order === 'modifiedOn'" (click)="setOrder('modifiedOn')">Changed On<span [hidden]="reverse">▼</span><span
                      [hidden]="!reverse">▲</span></th>
                  <th colspan="4" ><a href="#" >Action</a></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let sheduleExport of scheduledExports | orderBy:
                order:reverse:'case-insensitive' | paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'first' }">
                  <td>{{sheduleExport.name}}</td>
                  <td>{{sheduleExport.status}}</td>
                  <td>{{sheduleExport.createdBy}}</td>
                  <td>{{sheduleExport.createdOn}}</td>
                  <td>{{sheduleExport.ModifiedBy}}</td>
                  <td>{{sheduleExport.ModifiedOn}}</td>
                  <td><nav>
                      <a [routerLink]="['view',sheduleExport.uuid]" class="bootstrap-link" role="button" routerLinkActive="active"><img src="../../assets/images_icons/view_icon.png"
                          width="16" height="16" alt="View"></a></nav></td>
                          <td><nav>    <a [routerLink]="['edit',sheduleExport.uuid]" class="bootstrap-link" role="button" routerLinkActive="active"><img src="../../assets/images_icons/edit_icon.png"
                          width="16" height="16" alt="Edit"></a></nav></td>
                          <td><nav>    <a [routerLink]="['copy',sheduleExport.uuid]" class="bootstrap-link" role="button" routerLinkActive="active"><img src="../../assets/images_icons/copy_icon.png"
                          width="16" height="18" alt="Copy"></a></nav></td>
                          <td><nav>    <a role="button" (click)="deleteSheduleExport(sheduleExport.uuid)" routerLinkActive="active" style="cursor: pointer;"><img
                          src="../../assets/images_icons/delete_icon.png" width="16" height="16" alt="Delete"></a></nav></td>
                </tr>
                
              </tbody>
            </table>
            <!-- <div class="pagination">
              <div class="floatLeft">
                <div class="custom-select floatLW120">
                  <select>
                    <option value="0">Show 5 items</option>
                    <option value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">15</option>
                    <option value="4">20</option>
                    <option value="5">25</option>
                    <option value="6">30</option>
                  </select>
                </div>
                <div class="pagination_text">1 to 5 of 30 </div>
              </div>
              <div class="pagination_item"> <a href="#" class="pagination_pre">&laquo;</a> <a href="#">1</a> <a href="#" class="active">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a> <a href="#" class="pagination_next">&raquo;</a> </div>
            </div> -->
            <p class="no_data_desc" *ngIf="!scheduledExports.length > 0">No Data Available</p>
            <!-- <app-pagination [exportTableList]="scheduledExports">Loading...</app-pagination> -->
            <div class="pagination">
                <div class="floatLeft">
                    <div class="custom-select floatLW120">
                      <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
                        <option value="5" selected>show 5 items</option>
                        <option value="10">show 10 items</option>
                        <option value="20">show 20 items</option>
                      </select>
                    </div>
                  </div>
                  <div class="pagination_text">{{table1_currentPageItemsFrom}} to {{table1_currentPageItemsTo}} of {{table1_totalItems}} </div>
                <div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="first"></pagination-controls></div>
              </div>
          </div>
        </div>
      </div>
      <!-- end content --> 
    </div>
    <!-- end right panel --> 
  </div>
  <!-- end container --> 
  <!-- Footer start -->
  <div class="push_footer">&nbsp;</div>
  <div id="footer">
    <div class="footer_area">
      <ul>
        <li><a href="#news">Contact us</a></li>
        <li><a href="#contact">Search Center</a></li>
        <li><a href="#about">Site Map</a></li>
      </ul>
      <p> Powered by Intelligent SOA <sup>TM</sup></p>
      <p> &copy; CeleritiFinTech. All rights reserved</p>
    </div>
  </div>
  <!-- end footer --> 
  

<!-- end wrapper --> 

