<app-side-menu></app-side-menu>

<div style="margin-right: -15px; margin-left: 230px; margin-top: -528px;" class="row export-pcd">
	 <div class="form-group" style=" padding: 25px">
	<h5 style="color: blue; align-self: left">Your Sheduled Exports</h5>
			<div style="padding-left: 1010px">
			<nav>
				<button [routerLink]="['create']" class="btn" role="button">New</button>
			</nav>
			</div>
		<br>
	<!-- <div>
		<div class='panel-body'style="padding: 0px;">
         <table class='table table-bordered table-condensed table-striped table-sm id="tabledata" cellspacing="0" width="100%"'>
			<tr >
				<th>Action</th>
				<th>TaskName</th>
				<th>Status</th>
				<th>Created On</th>
				<th>Last Updated by</th>
				<th>Last Updated on</th>
			</tr>
			<tr *ngFor="let sheduleImports of sheduledImports " >
					<td><nav>
							<a [routerLink]="['view',sheduleImports.id]" class="bootstrap-link" role="button"
								routerLinkActive="active">view</a>
							<a [routerLink]="['copy']" class="bootstrap-link" role="button"
								routerLinkActive="active">copy</a>
							<a [routerLink]="['edit',sheduleImports.id]" class="bootstrap-link" role="button"
								routerLinkActive="active">edit</a>
							<a [routerLink]="['delete']" class="bootstrap-link" role="button"
								routerLinkActive="active">delete</a>
						</nav></td>
					<td>{{sheduleImports.taskName}}</td>
				<td>{{sheduleImports.status}}</td>
				<td>{{sheduleImports.createdOn}}</td>
				<td>{{sheduleImports.lastUpdatedBy}}</td>
				<td>{{sheduleImports.lastUpdatedOn}}</td>
			</tr>

		</table>
		</div>
	</div> -->
	
	
	<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class='panel-body'style="padding: 0px;">
         <table class='table table-bordered table-condensed table-striped table-sm id="tabledata" cellspacing="0" width="100%"'>
         
            <thead>
            <tr>
               <th class="header">Action</th>
               <th >TaskName</th>
               <th >Template Used</th>
               <th >Status</th>
               <th >Created On</th>
               <th >Last Updated By</th>
               <th >Last Updated On</th>
            </tr>
            </thead>
            <tbody>
               <tr *ngFor="let sheduleExport of scheduledExports ">
                 <td><nav>
							<a [routerLink]="['view',sheduleExport.id]" class="bootstrap-link" role="button"
								routerLinkActive="active">view</a>
							<a [routerLink]="['copy',sheduleExport.id]" class="bootstrap-link" role="button"
								routerLinkActive="active">copy</a>
							<a [routerLink]="['edit',sheduleExport.id]" class="bootstrap-link" role="button"
								routerLinkActive="active">edit</a>
							<a class="bootstrap-link" role="button" (click)="deleteSheduleExport(sheduleExport.id)"
								routerLinkActive="active">delete</a>
						</nav></td>
					<td>{{sheduleExport.taskName}}</td>
					<td>{{sheduleExport.tempate}}</td>
				<td>{{sheduleExport.status}}</td>
				<td>{{sheduleExport.createdOn}}</td>
				<td>{{sheduleExport.lastUpdatedBy}}</td>
				<td>{{sheduleExport.lastUpdatedOn}}</td>
               </tr>
            </tbody>
         </table>
         </div>
<!--             <div class="dataTables_length bs-select" id="dtBasicExample_length">

            </div> -->
         <!-- <div class="btn-toolbar panel-heading" role="toolbar" style="margin: 0;">
          <div class="btn-group">
               <label style="margin-top:10px">Page {{pagination.currentIndex}}/{{pagination.pageNumber}}</label>
            </div>
            <div class="btn-group">
            <select  [(ngModel)]="pagination.model.id "name="id" (change)="pagination.page()" style="margin-top:10px">
            <option value="5">show 5 items</option>
            <option value="10">show 10 items</option>
            <option value="15">show 15 items</option>
            <option value="50">show 50 items</option>
            </select> 
            </div>
       <div class="btn-group">
            <label style="margin-top:10px; margin-left:250px">Page {{pagination.currentIndex}}</label>
            </div>
            
            <div class="btn-group">
            <label class="btn-group" style="margin-top:5px; margin-left:250px">Page &nbsp; </label>
               <ul class="pagination" >
                   <li *ngFor="let page of pagination.pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                  <a (click)="pagination.setPage(page)">{{page}}</a></li>
               </ul>
            </div>
            
             <div class="btn-group">
               <label style="margin-top:10px; margin-left:225px"> {{pagination.currentIndex}}-{{pagination.pageNumber}} of {{pagination.pageNumber}}</label>
            </div>
            
            <div class="btn-group pull-right">
               <ul class="pagination" >
               
                  <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" >
                  <a (click)="pagination.prevPage()">Previous</a></li>
                  <li *ngFor="let page of pagination.pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                  <a (click)="pagination.setPage(page)" href="#" >{{page}}</a></li>
                  <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" >
                  <a (click)="pagination.nextPage()">Next</a></li>
               </ul>
            </div>
         </div>  -->
      </div>
	
	</div>
	</div>
