<!-- start wrapper -->
<div id="header"> 
    <!-- start header -->
    <div class="headermenu">
      <div class="logo"><img src="../../assets/images_icons/logo.png" alt="Logo"  height="60" width="171"/></div>
      <div class="navigation">
      </div>
    </div>
    <div class="headercontent">
      <div class="headercontent_area">
        <div class="header_username"> <img src="../../assets/images_icons/user_image.png" width="20px" height="20px" alt="Username"> <span>{{userName}}</span> </div>
        <!-- <div class="header_help"> <img src="../../assets/images_icons/help_icon.png" height="16" width="16" alt="Help"> </div> -->
        <div class="header_logout"><ul routerLink="/login" style="cursor: pointer;">Login</ul></div>
      </div>
    </div>
  </div>
<!-- end header -->
  <div class="login_area">
    <div class="login">

      <form (ngSubmit)="formData.valid && userLogin(formData.value)" #formData="ngForm" novalidate>
        <div class="imgcontainer">
          <img src="../../assets/images_icons/user_image.png" width="100px; height:100px" alt="User Picture">
        </div>

        <div style="color: red; size: 20px;">{{errorMessage}}</div>
        <div class="login-container">
          <div *ngIf="formData.submitted && !uname.valid" style="color: red; size: 20px;">please enter userName</div>
          <label for="uname"><strong>Username</strong></label>
          <input type="text" placeholder="Enter Username" name="uname" #uname="ngModel" ngModel required>
          <div *ngIf="formData.submitted && !psw.valid" style="color: red; size: 20px;">please enter password</div>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" #psw="ngModel" ngModel required>

          <div *ngIf="formData.submitted && !env.valid" style="color: red; size: 20px;">please select environment</div>
          <div class="custom-select" style="float: left; width: 100%; margin-top: 4px">
            <label for="evn"><b>Environment</b></label>
            <select (change)="environmentChanged($event.target.value)" name="env" #env="ngModel" ngModel required>
              <!-- <option disabled hidden [value]="undefined"></option> -->
              <option *ngFor='let env of environment'>{{ env }}</option>
            </select>
          </div>
          <div *ngIf="formData.submitted && !reg.valid" style="color: red; size: 20px;">please select region</div>
          <div class="custom-select" style="float: left; width: 100%; margin-top: 4px">
            <label for="reg"><b>Region</b></label>
            <select name="reg" #reg="ngModel" ngModel required>
              <option></option>
              <option *ngFor='let reg of region'>{{ reg }}</option>
            </select>
          </div>
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

<!-- Footer start -->
<div class="push_footer">&nbsp;</div>
    <div id="footer">
      <div class="footer_area">
        <ul>
          <li><a href="#news">Contact us</a></li>
          <li><a href="#contact">Search Center</a></li>
          <li><a href="#about">Site Map</a></li>
        </ul>
        <p> Powered by Intelligent SOA <sup>TM</sup></p>
        <p> &copy; CeleritiFinTech. All rights reserved</p>
      </div>
    </div>
<!-- end footer -->

<!-- end wrapper -->