.modal-backdrop.in {
    display: none !important;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/LTe50259.ttf"), url("./fonts/LTe50265.ttf");
    src: url("./fonts/LTe50259.ttf")format("truetype"), url("./fonts/LTe50265.ttf")format("truetype");
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
