@charset "utf-8";
/* PTS */

/* --- Defined HTML Tags --- */ 
html, body {
	margin: auto;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: center !important;
}
body {
	font-family: 'Arial', Verdana;
}
#body {
	padding: 10px;
	padding-bottom: 60px;	/* Height of the footer */
}
div {
	white-space: normal;
}
img {
	border: 0
}
a:link {
	text-decoration: none;
}
div a:link {
	text-decoration: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
input {
	font-family: 'Franklin Gothic Book', sans-serif;
	font-size: 12px;
	color: #555860;
}
#wrapper {
	font-family: 'Arial', Verdana;
	position: relative;
	margin: auto;
	padding: 0;
	min-height: 100%;
	width: 1366px;
	text-align: left !important;
}
/* -------- Top Header styles ------------- */
#header {
	width: 100%;
	height: 60px;
	background: #ffffff;
	vertical-align: top;
	clear: both
}
.logo {
	float: left;
}
#header .headermenu {
	width: 100%;
	background: #ffffff;
	padding: 20px;
	vertical-align: top;
	clear: both
}
#header .headercontent {
	float: left;
	width: 100%;
	height: 50px;
	padding: 15px 20px 20px 20px;
	border-top: 2px solid #233b59;
	background-color: #355283; /* For browsers that do not support gradients */
	background-image: linear-gradient(#355283, #162948); /* Standard syntax (must be last) */
	vertical-align: top;
	clear: both
}
#header .headersubmenu {
	float: right;
	width: 100%;
	border-bottom: 2px solid #233b59;
	background-color: #1c3153;
	vertical-align: top;
	padding-top: 10px;
	padding-right: 12px;
	clear: both
}
.headercontent_area {
	float: right;
	position: relative
}
.header_username {
	float: left;
	font-size: 13px;
	color: #dfead6;
	border-right: 1px solid #56657d;
	padding-right: 15px
}
.header_username img {
	margin-right: 2px;
	vertical-align: middle
}
.header_help {
	float: left;
	width: auto;
	margin-left: 10px;
	border-right: 1px solid #56657d;
	padding-right: 15px
}
.header_help img {
	vertical-align: middle;
}
.header_logout {
	float: left;
	width: auto;
	font-size: 13px;
	color: #dfead6;
	margin-left: 15px;
}
/* menus styles */
.main_navigation {
	float: left;
	font-size: 14px;
	vertical-align: top;
	display: inline-block;
	margin-left: 40px;
	list-style: none !important;
	border-radius: 6px;
}
.main_navigation ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
	text-decoration: none;
}
.main_navigation a {
	display: block;
	background: #f5f5f5;
	color: #2978ac;
	text-decoration: none;
	padding: 10px 30px;
	text-transform: uppercase;
	position: relative;
}
.main_navigation li {
	position: relative;
}
.main_navigation > li {
	float: left;
	margin-right: 5px;
}
.main_navigation > li > a {
	margin-bottom: 1px;
}
.main_navigation li:hover > a {
	background-color: #3992c7;
	color: #ffffff;
}
.main_navigation .active {
	background-color: #3992c7;
	color: #ffffff;
}
.main_navigation > li {
	border-radius: 6px;
}
.main_navigation > li a {
	border-radius: 6px;
}
.main_navigation li li a {
	margin-top: 0px;
	border-bottom: 1px solid #3992c7
}
.main_navigation li a:first-child:nth-last-child(2):before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	top: 45%;
	right: 5px;
}
/* submenu positioning*/
.main_navigation ul {
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	left: -99999em;
}
.main_navigation > li:hover > ul {
	left: auto;
	padding-top: 0px;
	min-width: 100%;
}
.main_navigation > li li ul {
	border-left: none;
}
.main_navigation > li li:hover > ul {
	left: 100%;
	top: -1px;
}
/* arrow hover styling */
.main_navigation > li > a:first-child:nth-last-child(2):before {
	border-top-color: #f5f5f5;
}
.main_navigation > li:hover > a:first-child:nth-last-child(2):before {
	border: -5px solid transparent;
}
.main_navigation li li > a:first-child:nth-last-child(2):before {
	border-left-color: #f5f5f5;
	margin-top: -5px
}
.main_navigation li li:hover > a:first-child:nth-last-child(2):before {
	border: -5px solid transparent;
	border-left-color: #f5f5f5;
}
/* login styles */
.login_area {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%
}
.login {
	width: 360px;
	height: 480px;
	font-size: 14px;
	text-align: left;
	color: #ffffff;
	border: 1px solid #fd9e28;
	margin: 0 auto;
	padding: 10px;
	background: #5288cb;
}
.login input[type=text], input[type=password] {
	width: 100%;
	font-size: 14px;
	padding: 8px;
	margin: 4px 0px 10px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.login button {
	background-color: #267348;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 16px;
	margin: 10px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.login button:hover {
	opacity: 0.5;
}
.login .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.imgcontainer {
	margin: 12px 0 12px 0;
	text-align: center
}
.login .login-container {
	padding: 16px;
	background: #4476bb;
	border: 2px solid #3e66a7
}
.login .container-bottom {
	padding: 4px 16px 4px 16px;
	background: #4476bb;
	border: 2px solid #3e66a7
}
span.psw {
	float: right;
	padding-top: 20px;
	color: #cccccc
}
span.psw a {
	font-size: 12px;
	text-decoration: none;
	color: #aeaeae
}
/* Left Panel Menu styles */
#sidemenu, #sidemenu ul, #sidemenu li, #sidemenu a {
	font-size: 15px;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
}
#sidemenu {
	width: 250px;
	border-bottom: 1px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#sidemenu a {
	line-height: 1.3;
}
#sidemenu > ul > li:first-child {
	background: #66665e;
	background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
	background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
	background: linear-gradient(#66665e 0%, #45463d 100%);
	border: 1px solid #45463d;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#sidemenu > ul > li:first-child > a {
	padding: 8px 6px;
	border: none;
	border-top: 1px solid #818176;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	text-shadow: 0 -1px 1px #000000;
}
#sidemenu > ul > li:first-child > a > span {
	padding: 0;
}
#sidemenu > ul > li:first-child:hover {
	background: #66665e;
	background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
	background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
	background: linear-gradient(#66665e 0%, #45463d 100%);
}
#sidemenu > ul > li {
	background: #3992c7;
	background: -moz-linear-gradient(#3992c7 0%, #096093 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3992c7), color-stop(100%, #3992c7));
	background: -webkit-linear-gradient(#3992c7 0%, #096093 100%);
	background: linear-gradient(#3992c7 0%, #096093 100%);
}
#sidemenu > ul > li:hover {
	background: #3992c7;
	background: -moz-linear-gradient(#3992c7 0%, #096093 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3992c7), color-stop(100%, #3992c7));
	background: -webkit-linear-gradient(#3992c7 0%, #096093 100%);
	background: linear-gradient(#3992c7 0%, #096093 100%);
}
#sidemenu > ul > li > a {
	font-size: 15px;
	display: block;
	color: #ffffff;
	border: 1px solid #1b3e6b;
	border-top: none;
	text-shadow: 0 -1px 1px #1b3e6b;
}
#sidemenu > ul > li > a:last-child {
	font-size: 15px;
	display: block;
	color: #ffffff;
	border: 1px solid #1b3e6b;
	border-top: none;
	text-decoration:underline;
	text-shadow: 0 -1px 1px #1b3e6b;
}
#sidemenu > ul > li > a > span {
	display: block;
	padding: 12px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#sidemenu > ul > li > a:hover {
	text-decoration: none;
}
#sidemenu > ul > li.active {
	border-bottom: none;
}

/* Sub menu */
#sidemenu ul ul {
	display: block;
	background: #fff;
	border-right: 1px solid #a2a194;
	border-left: 1px solid #a2a194;
}
#sidemenu ul ul li {
	padding: 0;
	border-top: none;
	background: #f7f7f7;
	background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
	background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
	background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#sidemenu ul ul li:last-child {
	border-bottom: none;
}
#sidemenu ul ul a {
	padding: 10px 10px 10px 25px;
	display: block;
	color: #676767;
	font-size: 14px;
	font-weight: normal;
}
/*#sidemenu ul ul a:before {
	content: "";
	position: absolute;
	left: 10px;
	color: #fd9d29;
}*/
#sidemenu ul ul a:hover {
	color: #000000;
}
#sidemenu, #sidemenu ul .selected {
	background: #cccccc;
}
#sidemenu, #sidemenu ul .selected a {
	color: #000000;
}
/* Container styles */
.container {
	position: relative;
	width: 100%;
	height: 80%;
	background: #ffffff;
	padding-down: 60px;
	clear: both
}
h1 {
	font-size: 14px;
	font-weight: 600;
	color: #304d7d;
	margin: 0% 0 1% 1%;
}
/* Left panel styles */
.left_panel {
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	/* padding: 4% 1% 0 0.5%; */
	padding: 1% 1% 0 0.5%;
	display: flex;
}
/* right panel styles */
.right_panel {
	position: relative;
	float: left;
	width: 80%;
	border-left: 2px solid #f5f5f5;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 75vh;
}
.content {
	position: relative;
	float: left;
	width: 98%;
	height: 100%;
	margin: 1%;
	padding-bottom: 60px
}
.content_area {
	width: 100%;
	position: relative;
	float: left;
	clear: both
}
.content_box {
	float: left;
	font-size: 14px;
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	margin-bottom: 15px;
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
	clear: both
}
.content_box_new {
	float: left;
	font-size: 14px;
	width: 100%;
	height: 40px;
	background: #f5f5f5;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	clear: both
}
.content_border {
	float: left;
	width: 100%;
	border-top: 2px solid #21385d;
}
/* form styles */

.form_area {
	float: left;
	position: relative;
	width: 100%
}
.form_area_section {
	float: left;
	width: 100%;
	position: relative;
	font-size: 15px;
	margin-left: 10px
}
.form_column_text {
	float: left;
	width: 100%;
	margin-top: 10px
}
.form_column_text_schedule_export {
	float: left;
	margin-top: 10px
}
.form_column_one {
	float: left;
	width: 100%
}
.form_column {
	float: left;
	width: 50%
}
.form_column2 {
	float: left;
	width: 50%
}
.form_column3 {
	float: left;
	width: 33.33%;
}
.form_column3 span {
	float: left;
}
.form_column3 span img {
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 7px
}
div.column_text, .column_text_drop {
	float: left;
	margin: 0;
	padding: 0;
}
div.column_text label {
	width: 120px;
	float: left;
	text-align: right !important;
	font-size: 14px;
	margin: 0;
	padding: 10px 5px 0 0;
	vertical-align: middle
}
.column_text_drop label {
	width: 100%;
	font-size: 14px;
	margin: 0;
	padding: 0;
	display: block;
	padding-top: 10px;
	padding-right: 5px;
	text-align: right;
	float: left;
	vertical-align: middle
}
.form_column span {
	float: left;
}
.form_column span img {
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 8px
}
div.column_text input, .column_text_drop input, div.text textarea {
	float: left;
	font-size: 14px;
	height: 30px;
	padding: 6px;
	margin: 4px 0px 10px 0px;
	display: inline-block;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	outline: none;
}
/*column spacing style */
div.column_spacing {
	width: 72%;
	margin: auto
}
div.column_spacing1 {
	float: right;
	width: 70%
}
div.column_spacing2 {
	float: right;
	/* width: 85% */
	margin-right: 52%;
}
.required:before {
	content: "*";
	color: #ff0000;
	padding-right: 5px
}
.required_grey:before {
	content: "*";
	color: #aeaeae;
	padding-right: 5px
}
/*the container must be positioned relative:*/
.custom-select {
	float: left;
	position: relative;
	display: block;
}
.custom-select:after {
	position: absolute;
	content: "";
	top: 13px;
	right: 8px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-color: #979797 transparent transparent transparent;
}
.custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	/* Add some styling */
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	background-color: #ffffff;
	background-image: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	-ms-word-break: normal;
	word-break: normal;
	outline: none;
	border-radius: 1px
}
	
/* IE11 hide native button */
select::-ms-expand {
display: none;
 outline:none;
}
/* switch button styles */
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 30px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(60px);
	-ms-transform: translateX(60px);
	transform: translateX(60px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
/* radio button styles */
.radio {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 2px 0 0px 30px;
}
.radio_padding_td {
	padding: 20px 0 0px 20px;
}
/* Hide the browser's default radio button */
.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	padding: 50px 0 0px 20px;
}
/* Create a custom radio button */
.check_mark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio:hover input ~ .check_mark {
	background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.radio input:checked ~ .check_mark {
	background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.check_mark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .check_mark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.radio .check_mark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* checkbox styles */
.check_box {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.check_box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
}
/* On mouse-over, add a grey background color */
.check_box:hover input ~ .checkmark {
	background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check_box input:checked ~ .checkmark {
	background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.check_box input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.check_box .checkmark:after {
	left: 5px;
	top: 2px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkbox_radio_text {
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0 20px 20px
}
/* breadcrumbs styles */
.breadcrumbs_area {
	float: left;
	width: 100%;
	position: relative;
	padding: 10px 0 5px 10px;
	background: #f5f5f5;
	clear: both
}
ul.breadcrumb {
	float: left;
	list-style: none;
	background-color: #eeeeee;
}
ul.breadcrumb li {
	display: inline;
	font-size: 14px;
	color: #353535
}
ul.breadcrumb li:first-child {
	color: #353535
}
ul.breadcrumb li:last-child {
	font-weight: bold
}
ul.breadcrumb li+li:before {
	padding: 8px;
	color: #4a80c7;
	content: ">";
}
ul.breadcrumb li a {
	color: #686868;
	font-weight: bold;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}
/* datatable styles */
.datatable {
	width: 100%;
	position: relative;
	float: left;
	margin: 10px 0px
}
.datatable_header {
	width: 100%;
	font-size: 14px;
	color: #000000;
	background: #f5f5f5;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #cccccc
}
.datatable table {
	width: 100%;
	font-size: 14px;
	background: #ffffff;
	border-collapse: collapse;
}
.datatable td {
	padding: 5px 8px;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: middle;
}
.datatable th {
	padding: 5px 8px;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: middle;
	background-color: #dee1e6;
	color: #3c88cb
}
.datatable th a {
	display: block;
	width: 100%;
	color: #4a80c7
}
.datatable td a {
	display: block;
	width: 100%;
	color: #000000
}
.datatable th a.sort-by {
	padding-right: 18px;
	position: relative;
}
.datatable td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
a.sort-by:before, a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #3c88cb;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #3c88cb;
	margin-top: 1px;
}
/* td alt color styles */
tr:nth-child(even) {
	background-color: #f8f8f8;
}
.no_data {
	width: 100%;
	position: relative;
	float: left;
	margin: 10px 0px
}
table {
	width: 100%;
	font-size: 14px;
	background: #ffffff;
	border-collapse: collapse;
}
.no_data th {
	padding: 5px 8px;
	border: 1px solid #cccccc;
	text-align: left;
	vertical-align: middle;
	background-color: #dee1e6;
	color: #3c88cb
}
.no_data td {
	font-weight: bold;
	padding: 5px 8px;
	border: none;
	text-align: center;
	vertical-align: middle;
	color: #000000
}
.no_data_desc {
	font-weight: bold;
	padding: 5px 8px;
	border: none;
	text-align: center;
	vertical-align: middle;
	color: #000000
} 

/* Pagination styles */
.pagination {
	width: 100%;
	float: left;
	font-size: 13px;
	background: #f5f5f5;
	padding: 5px;
}
.pagination_text {
	float: left;
	padding: 8px 0 0 8px
}
.pagination_item {
	float: right;
	font-size: 13px;
	display: block;
	background: #f5f5f5;
	padding: 5px;
}
.pagination_item ul li {
	display: inline;
}
.pagination_item li a {
	color: #000000;
	float: left;
	cursor: pointer;
	padding: 4px 8px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}
.pagination_item li a.active {
	background-color: #f89e1c;
	color: #ffffff;
	border: 1px solid #f89e1c;
}
.pagination_item li a:hover:not(.active) {
	background-color: #dddddd;
}

.pagination_pre {
	margin-right: 20px
}
.pagination_next {
	margin-left: 20px
}
/* buttons styles */
.button_area {
	float: left;
	width: 100%;
}
.button_lightgrey button {
	width: 100px;
	background-color: #686868;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding: 6px 10px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	clear: both
}
.button_green button {
	width: 100px;
	background-color: #50ae55;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding: 6px 10px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}
.button_lightgreen button {
	width: 100px;
	background-color: #159588;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	padding: 6px 10px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}
/* button:hover {
	opacity: 0.8;
} */
/* button:active:hover:not([disabled]) {
	opacity: 0.8;
} */

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button img {
	float: left;
	padding-right: 5px;
	vertical-align: middle;
	opacity: 0.8;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;			/* Height of the footer */
	text-align: center;
	padding: 10px 0 10px 0;
	background: #f9fafb;
	clear: both
}
#footer .footer_area {
	display: table;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer_area ul {
	font-family: arial;
	font-size: 11px;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.footer_area li {
	display: inline-block
}
.footer_area li a {
	display: block;
	color: #cccccc;
	text-align: center;
	padding: 0px 8px;
	text-decoration: none;
}
.footer_area a:hover {
	color: #aeaeae;
}
#footer p {
	font-size: 12px;
	color: #aeaeae;
	margin: 0;
	padding: 5px 0px 0px 0px;
}
.push_footer {
	padding-top: 20px;
	clear: both
}
sup {
	font-size: 8px;
}
/* other essential css */
.width100 {
	width: 100px
}
.width130 {
	width: 130px !important
}
.width240 {
	width: 240px
}
.width_70 {
	width: 70%
}
.floatRight {
	float: right
}
.floatR_MR {
	float: right;
	padding-right: 10px
}
.floatRW75 {
	float: right;
	width: 75%
}
.floatRW80 {
	float: right;
	width: 80%
}
.floatLeft {
	float: left
}
.floatLW120 {
	float: left;
	width: 120px
}
.marginLR5 {
	margin: 0 5px 0px 5px
}
.marginTop10 {
	margin-top: 10px
}
.marginTop0 {
	margin-top: 0px
}
.marginTop20 {
	margin-top: 20px
}
.marginTop25 {
	margin-top: 25px
}
.marginTop30 {
	margin-top: 30px
}
.marginBottom10 {
	margin-bottom: 10px
}
.marginTR9 {
	margin-top: 5px;
	margin-right: 9px
}
.marginTR30 {
	margin-top: 5px;
	margin-right: 10px
}
.marginleft5 {
	margin-left: 5px
}
.marginleft10 {
	margin-left: 10px
}
.marginleft20 {
	margin-left: 20px
}
.marginleft40 {
	margin-left: 40px
}
.marginleft60 {
	margin-left: 60px
}
.custom_select_width60 {
	float: left;
	width: 60%;
	margin-top: 4px
}
.custom_select_width50 {
	float: left;
	width: 50%;
	margin-top: 4px
}
.custom_select_width40 {
	float: left;
	width: 40%;
	margin-top: 4px
}
.custom_select_width30 {
	float: left;
	width: 30%;
	margin-top: 4px
}
.colorBlue {
	color: #1a4776
}
.colorBlue a {
	color: #1a4776;
	text-decoration: none
}
.colorBlack {
	color: #000000
}
.colorBlack a {
	color: #000000;
	text-decoration: none
}

/* Table header sorting icon */
thead th {
    cursor: pointer !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  thead th span {
    visibility: hidden !important;
  }
  thead th.active {
    color: #3c88cb !important;
  }
  thead th.active span {
    visibility: visible !important;
  }

/* Date Picker Style */
.date-select {
	float: left;
	position: relative;
	display: block;
	width: 55%;
	margin-top: 4px
}
div.column_text_date, .column_text_drop_date {
	float: left;
	margin: 0;
	padding: 0;
}
div.column_text_date label {
	width: 100px;
	float: left;
	text-align: right !important;
	font-size: 14px;
	margin: 0;
	padding: 10px 5px 0 0;
	vertical-align: middle
}
div.column_text_date input, .column_text_drop_date input, div.text textarea {
	float: left;
	font-size: 14px;
	height: 30px;
	padding: 6px;
	margin: 4px 0px 10px 0px;
	display: inline-block;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	outline: none;
}