<div id="header">
  <!-- start header -->
  <div class="headermenu">
    <div class="logo"><img src="../../assets/images_icons/logo.png" alt="Logo" height="60" width="171" /></div>
   <!-- <div *ngIf="loginSuccess" class="navigation"> -->
   <div *ngIf="authenticated()" class="navigation">
      <ul class="main_navigation">
        <!--  <li><a href="#">Home</a></li>
                      <li><a href="#">Customer</a></li>
                      <li><a href="#">Deposits</a></li> -->
        <li><a href="#" class="active">Product &amp; Parameter Master</a></li>
      </ul>
    </div>
  </div>

  <div class="headercontent">
    <div class="headercontent_area">
      <div class="header_username"> <img src="../../assets/images_icons/user_image.png" width="20px" height="20px" alt="Username">
        <span>{{userName}}</span> </div>
      <!-- <div class="header_help"> <img src="../../assets/images_icons/help_icon.png" height="16" width="16" alt="Help">
      </div> -->
      <div *ngIf="authenticated()" class="header_logout"><a style="cursor: pointer" role="button" (click)="logout()">Logout</a></div>
      <div *ngIf="!authenticated()" class="header_logout"><a style="cursor: pointer" role="button" (click)="login()">Login</a></div>
    </div>
  </div>

  <div class="headersubmenu">
    <div *ngIf="authenticated()" class="navigation" style="margin-left: -33px;">
      <ul class="main_navigation">
        <li><a href="#" class="width240">Mass Maintenance</a>
          <ul>
            <li><a routerLink="/templates">Manage Template</a></li>
            <li><a routerLink="/importinprogress">Perform Mass Maintenance</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- end header -->
<router-outlet></router-outlet>