<html>
<app-side-menu> </app-side-menu>
<body>
	<div
		style="margin-left: 220px; margin-top: -528px;">
		<h4 style="color: blue; align-self: left">Real Time-Import</h4>
		<div>
			<form 
				(ngSubmit)="formData.valid && importSubmit()"
				#formData="ngForm" novalidate="novalidate">
				<div *ngIf="!formData.submitted">
				<div class="required">
					<div>
						<label for="name">Task Name</label> <input style="display: inline-block; width: 60% !important" type="text" 
							id="name" name="taskName" #name="ngModel" [(ngModel)]="model.name">
					</div>
					<div class="required">
						<label for="avatar">Please select a file to upload</label> <input style="display: inline-block; width: 75% !important"
							type="file" id="avatar" (change)="selectFile($event)" name="filePath" #inputFileName="ngModel" [(ngModel)]="model.inputFileName"
							accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
							ngModel>
						<button type="button" [disabled]="!selectedFiles" (click)="importFile($event)" class="btn btn-md btn-default">
							Import
						</button>
					</div>
				</div>
				<br>

				<div>
					<table class="table table-striped" id="table" style="width: 100%">
						<tr>
							<th>Parameter Set Number</th>
							<th>Parameter Set Name</th>
							<th>Import Count</th>
						</tr>
						<tr
							*ngFor="let parameter of classReference.importPcdCount">
							<td>{{parameter.pSetNumber}}</td>
							<td>{{parameter.pSetName}}</td>
							<td>{{parameter.importCount}} Records imported</td>
						</tr>
					</table>
					<p align="center" *ngIf="!classReference.importPcdCount.length > 0">No Data Available</p>
				</div>
				<div class="form-group" align="right" style="padding: 3px 5px;">
					<div *ngIf="!importButtonclk && classReference.importPcdCount.length > 0" id="bloc1">
						<button type="submit" class="btn btn-md btn-success"
						style="line-height: 1.0;">Submit</button>
					</div>
					<div id="bloc2">
					<button type="button" class="btn btn-md btn-default"
						style="line-height: 1.0;" (click)="cancelImport(formData.value)">Cancel</button>
						</div>
				</div>
				
				</div>
				</form>
				
				<div *ngIf="formData.submitted && !(failedItems.length == 0)">
				<form 
				(ngSubmit)="formData.valid && reloadSubmit()"
				#formData="ngForm" novalidate="novalidate">
				<div class="required" align="left">
					<div >
					<h5 style="color: red; align-self: left">Some records has been failed. Please review and submit the failed items.</h5>
						<label for="name">Task Name</label> <input type="text" style="display: inline-block; width: 60% !important"
							id="name" name="taskName" #name="ngModel" [(ngModel)]="model.name" readonly="readonly">
					</div>
					<div>
						<label for="avatar">Please select a file to upload</label> <input style="display: inline-block; width: 75% !important"
							type="file" id="avatar" (change)="selectFile($event)" name="filePath" #inputFileName="ngModel"
							accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
							ngModel>
						<button type="button" [disabled]="!selectedFiles" class="btn btn-md btn-default" (click)="importFile($event)">
							Reload
						</button>
					</div>
				</div>
				<div *ngIf="!importButtonclk">
					<table id="table" class="table table-striped" style="width: 100%">
						<tr>
							<th>Parameter Set Number</th>
							<th>Parameter Set Name</th>
							<th>Import Count</th>
						</tr>
						<tr
							*ngFor="let parameter of classReference.importPcdCount">
							<td>{{parameter.pSetNumber}}</td>
							<td>{{parameter.pSetName}}</td>
							<td>{{parameter.importCount}}</td>
						</tr>
					</table>
					<p align="center" *ngIf="!classReference.importPcdCount.length > 0">No Data Available</p> 
				</div>
				<div class="form-group" align="right" style="padding: 3px 5px;" *ngIf="!importButtonclk && classReference.importPcdCount.length > 0">
						<button type="submit" class="btn btn-md btn-success"
						style="line-height: 1.0;">Submit</button>
					<button type="button" class="btn btn-md btn-default"
						style="line-height: 1.0;" (click)="clearFile(formData.value)">Cancel</button>
				</div>
				
				<br>

				<div>
				<div style="align-content: left;"><h5>Failed Items</h5></div>
					<table id="table" class="table table-striped" style="width: 100%">
						<tr>
							<th>Application</th>
							<th>PSetNumber</th>
							<th>PSetName</th>
							<th>Company</th>
							<th>Key-Value</th>
							<th>Effective Date</th>
							<th>Expiry Date</th>
							<th>Action</th>
							<th>Result</th>
						</tr>
						<tr
							*ngFor="let param of failedItems">
							<td>{{param.application}}</td>
							<td>{{param.pSetNumber}}</td>
							<td>{{param.pSetName}}</td>
							<td>{{param.company}}</td>
							<td>{{param.key}}</td>
							<td>{{param.effectiveDate}}</td>
							<td>{{param.expiryDate}}</td>
							<td style="color: #79B9E1">{{param.action}}</td>
							<td>{{param.result}}</td>
						</tr>
					</table>
				</div>
				<div>
				<div style="align-content: left;"><h5>Success Items</h5></div>
					<table id="table" class="table table-striped" style="width: 100%">
						<tr>
							<th>Application</th>
							<th>PSet Number</th>
							<th>PSet Name</th>
							<th>Company</th>
							<th>PSet Key</th>
							<th>Effective Date</th>
							<th>Expiry Date</th>
							<th>Action</th>
							<th>Result</th>
						</tr>
						<tr
							*ngFor="let param of successItems">
							<td>{{param.application}}</td>
							<td>{{param.pSetNumber}}</td>
							<td>{{param.pSetName}}</td>
							<td>{{param.company}}</td>
							<td>{{param.key}}</td>
							<td>{{param.effectiveDate}}</td>
							<td>{{param.expiryDate}}</td>
							<td style="color: #79B9E1">{{param.action}}</td>
							<td>{{param.result}}</td>
						</tr>
					</table>
				</div>
				</form>
				</div>
				<div *ngIf="formData.submitted && !submitError && failedItems.length == 0 ">
				<h5 style="color: green; align-self: left">All records has been updated successfully.</h5>
				<div class="required">
					<div>
						<label for="name">Task Name</label> <input type="text" style="display: inline-block; width: 60% !important"
							id="name" name="taskName" #name="ngModel" [(ngModel)]="model.name">
					</div>
					
				</div>
				<br>

				<div>
				<div style="align-content: left;"><h5>Success Items</h5></div>
					<table id="table" class="table table-striped" style="width: 100%">
						<tr>
							<th>Application</th>
							<th>PSetNumber</th>
							<th>PSetName</th>
							<th>Company</th>
							<th>Key-Value</th>
							<th>Effective Date</th>
							<th>Expiry Date</th>
							<th>Action</th>
							<th>Result</th>
						</tr>
						<tr
							*ngFor="let param of successItems">
							<td>{{param.application}}</td>
							<td>{{param.pSetNumber}}</td>
							<td>{{param.pSetName}}</td>
							<td>{{param.company}}</td>
							<td>{{param.key}}</td>
							<td>{{param.effectiveDate}}</td>
							<td>{{param.expiryDate}}</td>
							<td style="color: #79B9E1">{{param.action}}</td>
							<td>{{param.result}}</td>
						</tr>
					</table>
				</div>
				</div>

			<div></div>
			<hr class="line">
		</div>
		<div>
			<!-- <pagination-controls id="listing_pagination" maxSize="5"
				directionLinks="true" (pageChange)="page = $event"></pagination-controls> -->

		</div>
	</div>
</body>
</html>



