/* 
.required label:before {
    color: red;
    content: ' *';
    display:inline;
}
#bloc1, #bloc2, #bloc3
{
    display:inline;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #F8FAFB;}



#table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #f2f2f2;
    color: #79B9E1;
} */