<app-side-menu></app-side-menu>

<div style="margin-right: -15px; margin-left: 230px; margin-top: -528px;" class="row export-pcd">
  <div>
    <h3 class="label">Export Data</h3>

    <form class="content">
      <div>
        <input [(ngModel)]="model.exportSelection" type="radio" id="newExportRadioBtn" name="exportSelection" value="new"
          (click)='enableDisbale(1)'> Your Selections
        <input [(ngModel)]="model.exportSelection" type="radio" id="existExportRadioBtn" name="exportSelection" value="exist"
          (click)='enableDisbale(2)' (change)='getTemplates()'> Use Existing Template

        <label class="existingTemplateLabel">Existing Template
          <select ngModel (ngModelChange)="getParameterSet($event)" id="existingDrpdwn" class="option" name="existingTemplate"
            value="exportSelection">
            <option *ngFor="let templates of templateList" [ngValue]="templates">{{templates.name}}</option>
          </select>
        </label><br><br>
      </div>
      <label>Application
        <select id="applicationDrpdwn" class="option" name="appName" (change)="appNameChange(appName.value);addExport(0)"
          [(ngModel)]="exportData.application" #appName="ngModel" ngModel>
          <option *ngFor="let application of applicationList" [value]="application.name">{{application.name}}</option>
        </select>
      </label>

      <label>Parameter Set
        <select id="parameterNumDrpdwn" class="option" name="parameterSetNumber" [(ngModel)]="exportData.number"
          (change)="selectId($event.target.value);addExport(1)">
          <option *ngFor="let paramSet of parameterSetList" [value]="paramSet.id" [selected]="paramSet.id==changedId">{{paramSet.id}}</option>

        </select>
      </label>
      <select id="parameterNameDrpdwn" class="option" name="parameterSetName" [(ngModel)]="exportData.name" (change)="selectName($event.target.value);addExport(2)">
        <option *ngFor="let paramSet of parameterSetList" [value]="paramSet.name" [selected]="paramSet.name==selectedName">{{paramSet.name}}</option>
      </select> <br> <br>

      <input [(ngModel)]="model.multipleExport" type="checkbox" name="multipleExport" value="true"> Export multiple
      selected instances of
      A PCD in a single Excel sheet tab

      <button type="submit" class="exportButton" (click)="exportExcelData()">Export</button>
    </form>
  </div>
  <hr class="line">
</div>

<div class='panel-body' style="padding: 0px; margin-right: 36px; margin-left: 230px;">
  <table class='table table-bordered table-condensed table-striped table-sm id="tabledata" cellspacing="0" width="100%"'>

    <thead>
      <tr>
        <th></th>
        <!-- <th ><input type="checkbox" name="selectAll" value=""></th> -->
        <th><input type="checkbox" name="selectAll" value="" [(ngModel)]="selectedAll" (change)="selectAll();"></th>
        <th class="header" (click)="sort('id')">Application
          <span class="glyphicon sort-icon" *ngIf="key =='id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th class="header" (click)="sort('name')">Parameter Set Number
          <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th class="header" (click)="sort('description')">Parameter Set Name
          <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
        <th>Company</th>
        <th>Effective Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of items | orderBy: key : reverse; let i = index"> -->
      <tr *ngFor="let item of exportTable; let i = index">
        <td><a (click)="deleteFieldValue(i)"> <img src="../../assets/images_icons/delete.png" width="20" height="20"
              title="delete" alt="delete"></a></td>
        <td><input type="checkbox" name="selectAll" value="" [(ngModel)]="item.selected" (change)="checkIfAllSelected(i);"></td>
        <td>{{item.application}}</td>
        <td>{{item.paramSetNumber}}</td>
        <td>{{item.paramSetName}}</td>
        <td>
          <select id="ddlYesNo">
            <option value="">Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </td>
        <td>
          <select id="Date">
            <option value="">Date</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination [exportTableList]="exportTable">Loading...</app-pagination>