<app-side-menu></app-side-menu>
<div style="margin-right: -15px; margin-left: 230px; margin-top: -528px;">
	<div>
		<div>
			<div>
				<h4 style="color: blue; align-self: left">Scheduled Export</h4>
				
				<form (ngSubmit)="formData.valid && updateExport(formData.value)"
					#formData="ngForm" novalidate>
					<div style="padding-left: 76%">
						<button type="submit" class="btn btn-md btn-default">save</button>
						<button type="button" routerLink="cancel"(click)="cancelEditImport()"
							class="btn btn-md btn-default" >cancel</button>
					</div><br>
					<div class="required">
						<label for="taskName">Task Name</label> <input type="text"
							style="display: inline-block; width: 60% !important"
							 name="taskName" #taskName="ngModel" ngModel [(ngModel)]="data.taskName" readonly="readonly"
							required>
							<div *ngIf="formData.submitted && !taskName.valid"
							style="color: red; size: 20px;">Task Name is required</div>
					</div>
					<div class="required">
							<label for="currTemplate">Select an Existing Template
						</label> <select style="display: inline-block; width: 60% !important" name="currTemplate"
							 #currTemplate="ngModel" ngValue="op1" (ngModelChange)="getParameterSet($event)" ngModel [(ngModel)]="savedTemplate" required >
						 <option *ngFor="let templates of templateList" [ngValue]="templates">{{templates.name}}</option>
						</select>
						<div *ngIf="formData.submitted && !currTemplate.valid" style="color: red; size: 20px;">Please select template</div>
					</div>
					<hr class="line">

					<div class='panel-body' style="padding: 0px;border: 1px;">
						<table id="table"
							class='table table-bordered table-condensed table-striped table-sm id="tabledata" cellspacing="0" width="100%"'>
							<thead>
								<tr>
								<!-- <th ><input type="checkbox" name="selectAll" value=""></th> -->
									<th>Application</th>
									<th>Parameter Set Number</th>
									<th>Parameter Set Name</th>
									<th>Company</th>
									<th>Effective Date</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of parameterSet ">
									<!-- <td><input type="checkbox" name="selectAll" value=""></td> -->
									<td>{{item.application}}</td>
									<td>{{item.num}}</td>
									<td>{{item.name}}</td>
									<td>{{item.company}}</td>
									<td>{{item.effectiveDate}}</td>
								</tr>
							</tbody>
							
						</table>
					 <p align="center" *ngIf="!parameterSet">No Data Available</p> 
					</div>
					<br>
					<div class="required">
						<!-- Todo ngbDatepicker #d="ngbDatepicker"  -->
						<label for="startDate">Start Date</label> <input
							 placeholder="yyyy-mm-dd" name="startDate"
							 #startDate="ngModel" ngModel [(ngModel)]="data.startDate"
							required />

						<button class="btn btn-outline-secondary calendar"
							(click)="d.toggle()" type="button"></button>
						&nbsp;&nbsp;
						
						<div id="bloc1"> <label for="frequency">Frequency
						</label> <select  name="frequency"
							 #frequency="ngModel" ngModel (change)="getDayToExport(frequency.value)" [(ngModel)]="data.freq"
							required>
							  <option *ngFor="let freqs of freq" [value]="freqs">{{freqs}}</option> 
						</select></div>
						<div id="bloc1" *ngIf="frequency.value === 'Weekly' || frequency.value === 'Monthly'">
						 <div id="bloc2" *ngIf="frequency.value === 'Monthly'"><label for="dayToExport">Date To Export </label> </div>
						<div id="bloc2" *ngIf="frequency.value === 'Weekly'"><label for="dayToExport">Day To Export </label> </div>
						<div id="bloc3">
						<select name="dayToExport"  #dayToExport="ngModel" ngModel required [(ngModel)]="data.dayToExport">
							  <option *ngFor="let item of day" [value]="item">{{item}}</option>  
						</select>
						<div *ngIf="formData.submitted && !dayToExport.valid"
							style="color: red;">please select DayToImport</div>
						</div></div>
						<div *ngIf="formData.submitted && !startDate.valid"
							style="color: red;">Start Date required</div>
						<div *ngIf="formData.submitted && !frequency.valid"
							style="color: red;">please select Frequency</div>
					</div>
					<br>

					<div class="required">
						<label>Export Location </label><input type="text" style="display: inline-block; width: 60% !important" name="fileLocation" [(ngModel)]="data.filePath" #location="ngModel" ngModel required />
					<div *ngIf="formData.submitted && !location.valid"
							style="color: red;">File location is required</div>
					</div>
					<br>
					<div>
						<label for="remarks">Remarks</label> <input style="width: 60%;"
							type="text" name="remarks" ngModel [(ngModel)]="data.remarks"
							required />
					</div>
					<br> <input  type="checkbox" [(ngModel)]="data.sheetTb"
						name="multipleExport" value="true"> Export multiple selected
					instances of A PCD in a single Excel sheet tab <br>


					<div>
						<style>
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: green;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 35%;
}
</style>

						<label for="status">Activate Shedule? </label> <label
							class="switch"><input type="checkbox" name="status" [(ngModel)]="status"
							ngModel > <span class="slider round"></span> </label>
					</div>

				</form>
			</div>
		</div>
	</div>
	</div>


