<!-- <div class="sidenav">
  <h3 style="color: #337ab7;
      padding: 15px 8px 6px 4px;
      font-size: 20px;">Your Tasks</h3>
  <h3 style="background-color: #337ab7 !important; color: #f1f1f1;
      padding: 15px 8px 6px 4px;
      font-size: 20px;">Import Tasks</h3>
   <a routerLink="/inprogress">In Progress</a> 
  <a href="#completed">Completed</a>
  <a href="#real-time-import">Real time-Import</a>
  <a href="#scheduled-import">Scheduled-Import</a>
  <h3 style="background-color: #337ab7 !important; color: #f1f1f1; 
      padding: 15px 8px 6px 4px;
      font-size: 20px;">Export Tasks</h3>
  <a routerLink="/exportpcd">Real time-Export</a> -->
<!--   <a routerLink="eportPcd" routerLinkActive="active" class="bootstrapLink" >Real time-Export</a>
 --> 
 <!-- <a href="#scheduled-export">Scheduled-Export</a>
  <a routerLink="/excelStyleSettings" style="background-color: #337ab7 !important; color: #f1f1f1;">Excel Style Setting</a>
</div> -->

<div class="container">
    <div class="left_panel">
      <div id="sidemenu">
        <ul>
          <li class="active"><a><span>Your Tasks</span></a></li>
          <li class="sidemenu-submenu"><a><span>Import Tasks</span></a>
            <ul>
              <li><a routerLink="/importinprogress"><span>In Progress</span></a></li>
              <li><a routerLink="/importcompleted"><span>Completed</span></a></li>
              <li><a routerLink="/importpcd"><span>Real time-Import</span></a></li>
              <li><a routerLink="/scheduleImport"><span>Scheduled-Import</span></a></li>
            </ul>
          </li>
          <li class="sidemenu-submenu"><a><span>Export Tasks</span></a>
            <ul style="display:block">
              <li><a routerLink="/exportpcd"><span>Real time-Export</span></a></li>
              <li><a routerLink="/scheduleExport"><span>Scheduled-Export</span></a></li>
            </ul>
          </li>
          <li class="last"><a routerLink="/excelStyleSettings"><span>Excel Style Setting</span></a></li>
        </ul>
      </div>
    </div>