<!-- start wrapper -->
<top-menu>Loading...</top-menu>

  <div class="container">
    <!-- start left panel -->
    <app-side-menu></app-side-menu>
    <!-- end left panel -->

    <!-- start right panel -->
    <div class="right_panel">
      <div class="breadcrumbs_area">
        <ul class="breadcrumb">
          <li>Mass Maintenance</li>
          <li>Perform Mass Maintenance</li>
          <li>Export Tasks</li>
        </ul>
      </div>
      <!-- start content -->
      <div class="content">
        <h1>Scheduled-Export - View</h1>
        <div><h5 style="color: red; align-self: left">{{errorMessage}}</h5></div>

          <form action="" (ngSubmit)="formData.valid" #formData="ngForm" novalidate>
            <fieldset disabled="disabled">
                <div class="column_text form_column_one">
                  <label for="taskName" class="required">Task Name</label>
                  <input type="text" size="98" name="" placeholder="Task Name" name="taskName" #taskName="ngModel"
                    ngModel [(ngModel)]="data.name" required />
                  <div *ngIf="formData.submitted && !taskName.valid" style="color: red; size: 20px;">Task Name is
                    required</div>
                </div>

                <!-- <div class="required">
                  <label for="template">Select an Existing Template
                  </label> <select style="display: inline-block; width: 60% !important" name="template" #template="ngModel"
                    ngModel (ngModelChange)="getParameterSet($event)" [(ngModel)]="savedTemplate" required>
                    <option *ngFor="let templates of templateList" [ngValue]="templates">{{templates.name}}</option>
                  </select>
                  <div *ngIf="formData.submitted && !template.valid" style="color: red; size: 20px;">Please select
                    template</div>
                </div> -->
                <div class="column_text form_column_one">
                  <div class="column_text">
                    <label for="template" class="required_grey" style="width:200px">Select an Existing Template</label>
                  </div>
                  <div class="custom-select custom_select_width50">
                    <select name="template" #template="ngModel" ngModel (ngModelChange)="getParameterSet($event)"
                      [(ngModel)]="savedTemplate" required>
                      <option *ngFor="let templates of templateList" [ngValue]="templates">{{templates.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="formData.submitted && !template.valid" style="color: red; size: 20px;">Please select
                    template</div>
                </div>
                <div class="form_column_text_schedule_export marginleft10">
                  <label class="check_box checkbox_radio_text marginTop10">Combine multiple company in a Single tab
                    <input type="checkbox" checked="checked" [(ngModel)]="data.singleTab" name="singleTab" ngModel>
                    <span class="checkmark"></span> </label>
                </div>
              </fieldset>

            <div class="datatable">
              <table>
                <thead>
                  <tr>
                    <th [class.active]="order === 'applicationID'"
                    (click)="setOrder('applicationID')" class="mdl-data-table__cell--non-numeric">Application<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th> 
                    <th [class.active]="order === 'number'"
                    (click)="setOrder('number')" class="mdl-data-table__cell--non-numeric">Parameter Set Number<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th [class.active]="order === 'name'"
                    (click)="setOrder('name')">Parameter Set Name<span [hidden]="reverse">▼</span
                    ><span [hidden]="!reverse">▲</span></th>
                    <th scope="col" class="colorBlack">Company</th>
                    <th scope="col" class="colorBlack">Effective Date</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of parameterSet | orderBy:
                  order:reverse:'case-insensitive' | paginate: { itemsPerPage: table1_itemsPerPage, currentPage: table1_cutrrentPage, id: 'first' }">
                    <!-- <td><input type="checkbox" name="selectAll" value=""></td> -->
                    <td>{{item.applicationID}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.companyID}}</td>
                    <td>{{item.effectiveDate}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="no_data_desc" *ngIf="!parameterSet">No Data Available</p>
              <div class="pagination">
                  <div class="floatLeft">
                      <div class="custom-select floatLW120">
                        <select [(ngModel)]="table1_pageSize" name="pageSize" (change)="itemsPerPage()">
                          <option value="5" selected>show 5 items</option>
                          <option value="10">show 10 items</option>
                          <option value="20">show 20 items</option>
                        </select>
                      </div>
                    </div>
                    <div class="pagination_text">{{table1_currentPageItemsFrom}} to {{table1_currentPageItemsTo}} of {{table1_totalItems}} </div>
                  <div class="floatRight marginTop10"><pagination-controls (pageChange)="cutrrentPage($event)" id="first"></pagination-controls></div>
                </div>
              <!-- <app-pagination [exportTableList]="parameterSet">Loading...</app-pagination> -->
            </div>
            <fieldset disabled="disabled">
                <div>
                  <div class="column_text form_column3">
                    <label for="startDate" class="required_grey">Start Date</label>
                    <input type="text" size="11" name="startDate" placeholder="yyyy-mm-dd" #startDate="ngModel" ngModel
                      [(ngModel)]="data.effectiveDate" required />
                    <span> <img src="../../../assets/images_icons/calander_icon.png" width="24" height="24" alt="Date"></span>
                    <!-- <button class="btn btn-outline-secondary calendar"
              (click)="d.toggle()" type="button"></button> -->
                  </div>
                  <div id="bloc1" class="form_column3">
                    <div class="column_text">
                      <label for="frequency" class="required_grey">Frequency</label>
                    </div>
                    <div class="custom-select custom_select_width50">
                      <select name="frequency" #frequency="ngModel" ngModel (change)="getDayToExport(frequency.value)"
                        [(ngModel)]="data.frequency" required>
                        <option *ngFor="let freqs of freq" [value]="freqs">{{freqs}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form_column3" id="bloc1" *ngIf="frequency.value === 'WEEKLY' || frequency.value === 'MONTHLY'">
                    <div class="column_text" id="bloc2" *ngIf="frequency.value === 'MONTHLY'">
                      <label for="dayToExport" class="required_grey">Date to Import</label>
                    </div>
                    <div class="column_text" id="bloc2" *ngIf="frequency.value === 'WEEKLY'"><label for="dayToExport">Day To Export </label>
                    </div>
                    <div id="bloc3" class="custom-select custom_select_width50">
                      <select name="dayToExport" #dayToExport="ngModel" ngModel required [(ngModel)]="data.freqPattern">
                        <option *ngFor="let item of day" [value]="item">{{item}}</option>
                      </select>
                      <div *ngIf="formData.submitted && !dayToExport.valid" style="color: red;">please select
                        DayToImport</div>
                    </div>
                  </div>
                  <div *ngIf="formData.submitted && !startDate.valid" style="color: red;">Start Date required</div>
                  <div *ngIf="formData.submitted && !frequency.valid" style="color: red;">please select Frequency</div>
                </div>
                <div class="column_text form_column_one">
                  <label for="name" class="required_grey">File Name</label>
                  <input type="text" size="100" placeholder="File Name" name="fileLocation" [(ngModel)]="data.filePath"
                    #location="ngModel" ngModel required />
                  <div *ngIf="formData.submitted && !location.valid" style="color: red;">File location is required</div>

                </div>
                <div class="column_text form_column_one">
                  <label for="remarks">Remarks</label>
                  <input type="text" size="100" name="remarks" placeholder="Remarks" ngModel [(ngModel)]="data.remarks"
                    required />
                </div>

                <div class="form_area_section marginTop20">
                  <div class="form_column"><span style="padding:10px 10px 0 0">Activate Schedule?</span>
                    <label class="switch">
                      <input type="checkbox" checked name="status" [(ngModel)]="status" ngModel>
                      <span class="slider round"></span> </label>
                  </div>
                  <div class="form_column" style="padding-right:12px">
                    <div class="floatRight">
                      <div class="button_green floatLeft">
                        <button type="submit" class="width100">Save</button>
                      </div>
                      <div class="button_lightgrey floatLeft marginleft10">
                        <button type="button" class="width100" routerLink="cancel" (click)="cancelEditExport()">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
          </form>

      </div>

      <!-- end content -->
    </div>
    <!-- end right panel -->
  </div>
  <!-- end container -->
  <!-- Footer start -->
  <div class="push_footer">&nbsp;</div>
  <div id="footer">
    <div class="footer_area">
      <ul>
        <li><a href="#news">Contact us</a></li>
        <li><a href="#contact">Search Center</a></li>
        <li><a href="#about">Site Map</a></li>
      </ul>
      <p> Powered by Intelligent SOA <sup>TM</sup></p>
      <p> &copy; CeleritiFinTech. All rights reserved</p>
    </div>
  </div>
  <!-- end footer -->


<!-- end wrapper -->